@model ProductEditVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="ProductTypeId" class="control-label"></label>
                <select asp-for="ProductTypeId" class="form-control" asp-items="@Model.ProductTypes"></select>
                <span asp-validation-for="ProductTypeId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <br />
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" min="0"/>
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>   
            <br />
            <div class="form-group">
                <label asp-for="AmountToBeOrdered" class="control-label"></label>
                <input asp-for="AmountToBeOrdered" class="form-control" min="0" />
                <span asp-validation-for="AmountToBeOrdered" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <a asp-action="DisplayByType" asp-route-id="@Model.ProductTypeId" class="btn btn-outline-primary">Back to List</a>
                <input type="submit" value="Save" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
